@import "tailwindcss";

.dokumentation-box {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;

    & > * {
        flex-shrink: 0;
        flex-grow: 0;
        box-sizing: border-box;
        background-color: white;
        padding: 1rem 4rem 4rem 1rem;
        border-radius: 1rem;
        width: 256px;
    }
} 



